body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

form {
    background: white;
    padding: 15px;
    border-radius: 5px;
}

input,
textarea,
select,
button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

#taskList li {
    background: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

button.delete {
    background: red;
    color: white;
    border: none;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}